@import "variables";


header{
    display: grid;
    flex-flow: column;
    align-items: center;
    justify-items: end;
    background-color: $bgcol;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    color: $tcol;
    min-width: 384px;
            >#logo{
            height: 10vh;
            align-self: start;
            justify-self: start;
            }
}
#sociallink{
    display: grid;
    padding:  5px 25px;
    height: 3vh;

}
#topbar{
    height: 5%;
    min-width: 384px;
    background-color: $tcol;
    margin: 3px 0px 3px 0px;
    >button{
        height: 3vh;
        font-size: 20px;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: 5px 3px 5px 3px;
        color: $fcol;
        background-color: $bgcol;
        display: inline-flex;
    }
}