@import "variables";

header{
    display: grid;
    flex-flow: column;
    align-items: center;
    justify-items: end;
    background-color: $bgcol;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    color: $tcol;
            >#logo{
            height: 7rem;
            align-self: start;
            justify-self: start;
            }
            >#socials>img{
            padding-bottom: 3px;
            height: 3vh;
            }
}
    
#topbar{
    border: 2px solid black;
    background-color: $tcol;
    margin-bottom: .3rem;
    >button{
        color: $fcol;
        background-color: black;
        display: inline-flex;
    }
}