@use "header";
@import "variables";

    /* For Mobile */
    html{
    background-color: $bgcol;
    header{
        max-width: 85vw;
    }
    }

@media only screen and (min-width: 750px){
    /* For tablet */
    html{
        background-color: green;
    }
}

@media only screen and (min-width: 1000px){
    /* For Mobile for desktop */
    html{
        background-color: pink;
    }
}