@import "variables";

    /* For Mobile */
    html{
    background-color: $bgcol;
    
    }

@media only screen and (max-width: 749px){
    .callus{
        display: none;
    }
}


@media only screen and (min-width: 750px){
    /* For tablet */
    html{
        background-color: $bgcol;


    .phone3{
        display: none;
    }
    .callus{
        font-size: $fstab;
        margin-left: 33%;
        justify-self: center;
    }
    #map{
        width: 100px;
    }
    #pizzatube{
        display: inline;
        justify-self: center;
        align-self: center;
        min-width: 690px;
        min-height: 390px;
        margin-left: 3%;

    }
    .menugrid{
            display: inline-grid;
            margin-right: 4em;
            grid-template-columns: repeat(2, 1fr);
    }
    header{
        width: 99.75%;
        margin-left: 2em;
 
    }
    #topbar{
        width: 100%;
        margin-left: 2em;
        
    }

}
}

@media only screen and (min-width: 1000px){
    /* For Mobile for desktop */
    .menugrid{
        grid-template-columns: repeat(3, 1fr);
}

.itemdiv{
    margin-right: 2em;
}
header{
    max-width: 90%;
}
#topbar{
    max-width: 90.25%
}
}