@use "header";
@import "variables";

    /* For Mobile */
    html{
    background-color: $bgcol;
    }
@media only screen and (max-width: 749px){
    .callus{
        display: none;
    }
}

@media only screen and (min-width: 750px){
    /* For tablet */
    html{
        background-color: green;
    }
    
    .phone3{
        display: none;
    }
    .callus{
        font-size: 20px;
        margin-left: 33%;
        justify-self: center;
    }
    #map{
        display: block;
        max-width: 1000px;
    }
    #pizzatube{
        display: inline;
        justify-self: center;
        align-self: center;
        min-width: 690px;
        min-height: 390px;
        margin-left: 3%;

    }
    #menubar{
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        >#drinks{
            margin-left: 4rem;
        }
    }
}

@media only screen and (min-width: 1000px){
    /* For Mobile for desktop */
    html{
        background-color: pink;
    }
}