html {
  margin: 0;
  padding: 0;
}

/* */
.headergrid {
  display: inline;
}

.headerdiv {
  display: flex;
  justify-content: center;
  width: 100vw;
}

header {
  display: grid;
  font-size: 18px;
  align-items: center;
  justify-items: end;
  background-color: #222021;
  margin: -1em, -em, -1em, -1em;
  grid-template-columns: 1fr 1fr;
  color: rgba(255, 255, 255, 0.658);
}
header #logo {
  height: 10vh;
  align-self: start;
  justify-self: start;
}

.topgrid {
  display: inline;
}

.topdiv {
  display: inline;
  justify-content: center;
  background-color: #222021;
  margin: 0.5em;
  width: 90%;
}

.topbar {
  grid-template-columns: 200px 1fr -webkit-max-content;
  grid-template-columns: 200px 1fr max-content;
  background-color: #222021;
  margin: 0.5em 0;
  justify-content: space-between;
}

.buttonbar {
  font-size: 18px;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0.25em;
  padding: 0.25em;
  color: rgba(255, 255, 255, 0.658);
  background-color: #222021;
}

.buttonlink {
  margin: 0;
  padding: 0;
}

.callus {
  display: grid;
  position: absolute;
  right: 15px;
  display: inline;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.658);
  background-color: #222021;
  text-align: center;
  margin: 0.5em;
}

#sociallink {
  display: grid;
  padding: 5px 25px;
  height: 3vh;
}

.phoneus {
  display: block;
  font-size: 25px;
  background-color: #222021;
  color: rgba(255, 255, 255, 0.658);
  text-align: center;
  margin-top: -1.5em;
}
.phoneus p {
  padding: 0.5em;
}

.footdiv {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}
.footdiv p {
  padding: -0.25em;
  margin: -0.25em;
}

/* For Mobile */
html {
  background-color: #FCBC26;
}

@media only screen and (max-width: 749px) {
  .callus {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  /* For tablet */
  .phone3 {
    display: none;
  }
  .callus {
    font-size: 20px;
    margin-left: 33%;
    justify-self: center;
  }
  .mapdiv {
    display: grid;
    margin: -1em 1em 0 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .mapdiv #map {
    width: 90vw;
  }
  .menugrid {
    display: inline-grid;
    margin-right: 4em;
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    width: 95.75%;
    margin-left: -1em;
    margin-bottom: -1em;
  }
  #topbar {
    width: 96%;
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  /* For Mobile for desktop */
  .menugrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .itemdiv {
    margin-right: 2em;
  }
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html a:link {
  color: #FCBC26;
}
html a:visited {
  color: rgb(185, 12, 12);
}
html a:hover {
  color: #FCBC26;
}
html a:active {
  color: rgb(77, 224, 51);
}

#mains, #welcomehead {
  margin: 1em;
}

#mains, #welcomehead, footer {
  display: grid;
  justify-content: center;
  text-justify: center;
  color: rgba(255, 255, 255, 0.658);
  font-family: sans-serif;
  font-size: 18px;
  background-color: #222021;
  grid-template-columns: 2fr;
}
#mains p, #welcomehead p, footer p {
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 18px;
}
#mains .specials, #welcomehead .specials, footer .specials {
  display: grid;
  font-family: sans-serif;
  justify-content: center;
}
#mains .specials .two4, #welcomehead .specials .two4, footer .specials .two4 {
  text-align: center;
}
#mains .specials .rules, #welcomehead .specials .rules, footer .specials .rules {
  font-size: 16px;
  font-family: sans-serif;
  margin-top: -0.5em;
}

.bacondiv {
  display: grid;
  justify-content: center;
}

.bacon {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  width: 200px;
}

.welcome {
  display: grid;
  margin-top: 1em;
}
.welcome h2, .welcome p {
  margin: 0.5em;
  padding: 0.5em;
}

#direction {
  display: flex;
}

.mapdiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.mapdiv iframe {
  width: 90vw;
  height: 400px;
  margin: 1em;
}

#contactinfo {
  display: grid;
  margin: 1em;
}

#aboutus {
  display: grid;
}

#phoneus {
  display: grid;
  justify-items: center;
  align-items: center;
}

.pizzaflex {
  display: inline-flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pizzatube {
  width: 90vw;
  height: 50.78vw;
  margin: 1em;
}

.menu {
  margin: 0;
  padding: 0;
}

.menucontainer {
  font-size: 18px;
  background-color: #FCBC26;
}

.menuhead {
  background-color: #FCBC26;
  padding-bottom: 1em;
}

.menugrid {
  display: inline-grid;
  background-color: #222021;
  color: rgba(255, 255, 255, 0.658);
  gap: 1em;
  margin-bottom: 1em;
  padding: 1em 0;
}

.foodimage {
  margin: 1em;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuitems {
  display: flex;
}

.foodtitle {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-bottom: solid black;
  padding-bottom: 0.5em;
  margin-left: 1em;
}
.foodtitle p {
  margin-left: 1em;
  border-bottom: solid black;
  margin-top: -0.5em;
  padding-bottom: 0.5em;
}

.itemabout {
  flex-grow: 1;
}

.itemprice {
  margin-right: 1em;
}
.itemprice div {
  margin: 1em 0;
}

.itemline {
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
  font-size: 18px;
}

.contactpage, .history, .aboutus {
  font-size: 18px;
  color: #FCBC26;
  background-color: #222021;
}

.snackbar {
  display: inline-flex;
  margin: 1em 1em -1.5em 1em;
}

.snackimg {
  height: 1.5em;
}

.snacklink {
  margin: 0.5em;
}

.choicegrid {
  margin: 0;
  padding: 0;
}

.menutitle {
  text-align: start;
}

.condiv {
  display: grid;
  background-color: #222021;
}

.hours {
  display: grid;
}
.hours .hoursinfo {
  background-color: #222021;
  color: rgba(255, 255, 255, 0.658);
  font-size: 18px;
}
.hours .hoursinfo p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */