@use "header";  
@use "media";
@import "variables";

html{
    color: $fcol;
    max-height: none;
    min-height: none;
    padding: 0;
    margin: 0;
    font-family:Verdana, Tahoma, sans-serif;
    scroll-behavior: smooth;
    a:link{
        color: $bgcol;
    }
    a:visited{
        color: rgb(185, 12, 12);
    }
    a:hover{
        color: $bgcol;
    }
    a:active{
        color: rgb(77, 224, 51);
    }
}
main, #welcome, footer{
    display: grid;
    min-width: 384px;
    justify-content: center;
    align-content: center;
    color: $fcol;
    background-color: $tcol;
    margin-top: 10px;
    >.specials{
        display: grid;
        text-align: center;
        >p{
            font-size: 20px;
        }
        >.rules{
            font-size: 15px;
            font-weight: bolder;
            margin-top: -10px;
        }
        >.num{
            font-size: 20px;
            font-weight: bold;
            }
        >#bacon{
            height: 10vh;
            margin-left: 30%;
        }
    }
}
#welcome{
        display: grid;
        margin-top: 10px;
}
#direction{
    display: flex;
}
#map{
    height: 400px;
    width: 400px;
}

#contactinfo{
    display: grid;
}
#aboutus{
    display: grid;
    
}

#phone3{
    display: grid;
    justify-items: center;
    align-items: center;
}
#test{
    display: grid;
}
.menubar{
    display: table;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    border-collapse: collapse;
    grid-template-columns: 25px 5px 25px 5px;
    height: 100%;
    width: 70%;
        
    }
#pizzatube{
    display: grid;
    width: 400px;
    height:225px;
    margin-right: 40px;
}