@use "header";  
@use "media";
@import "variables";

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    a:link{
        color: $bgcol;
    }
    a:visited{
        color: rgb(185, 12, 12);
    }
    a:hover{
        color: $bgcol;
    }
    a:active{
        color: rgb(77, 224, 51);
    }
}
/* mains, and welcome are the containers for the specials and the 
    short welcome blurb in the index.html */
#mains, #welcomehead{
    margin: 1em;
    }
#mains, #welcomehead, footer{
    display: grid;
    justify-content: center;
    text-justify: center;
    color: $fcol;
    font-family: $ffam;
    font-size: $fsmob;
    background-color: $tcol;
    grid-template-columns: 2fr;
    box-shadow:  4px 5px $tcol;
        p{
        padding: .5em;
        font-family: $ffam;
        font-size: $fsmob;
        }
        .specials{
        display: grid;
        font-family: $ffam;
        justify-content: center;
        box-shadow:  4px 10px $tcol;
        /* div for the featured offer */
        .two4{
        text-align: center;
        } 
        /* Rules is the smaller font under two4 declaring rules of the offer */
        .rules{
        font-size: 16px;
        font-family: $ffam;
        margin-top: -.5em;  
        }
    }
}
.welcome{
    display: grid;
    margin-top: 1em;
    h2, p{
        margin: .5em;
        padding: .5em;
    }
}
/* Bacon div and Bacon are used for the img of bacon pizza in index */
.bacondiv{
    display: grid;
    justify-content: center;
    box-shadow:  4px 10px $tcol;
}
.bacon{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    width: 200px;
    box-shadow:  4px 10px $tcol;
}
/*Direction and map are for the google maps embed */
#direction{
    display: flex;
}
/*For the google maps iframe inserts*/
.mapdiv{
    display: grid;
    padding: 0;
    margin-right: -.5em;
    iframe{
        position:relative;
        right: .5em;
        padding: 0;
        width: 99vw;
        height: 70vw;
        box-shadow:  1px 1px $tcol;

    }
    }

#contactinfo{
    display: grid;
    margin: 1em
}
#aboutus{
    display: grid;
    
}
/*Id for on mobile only call grid*/
#phoneus{
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Any and all menu, item and food labled options are linked to the
menu.html and the menu grid and */
.menu{
    margin: 0;
    padding: 0;
    }
.menucontainer{
    font-size: $fsmob;
    background-color: $bgcol;
    width: 80vw;
    position: relative;
    left: 0vw;
}
.iteminfo{
    padding: 1em;
    margin: -1em 1em;
    margin-top: -1.5em;
}
.menuhead{
    display: inline;
    background-color: $bgcol;
    margin-bottom: -1em;
    padding: 0;
    
}
.menugrid{
display: inline-grid;
background-color: $tcol;
color: $fcol;
position: relative;
right: 1vw;
left: 1vw;
gap: 1em;
margin-top: 1em;
margin-bottom: 1em;
padding: 1em 0;
box-shadow:  4px 10px $tcol;
}
.snackbar>a:link{
            color: $tcol;
        }

.foodimage{
margin: 1em;
height: 75px;
width: 75px;
flex-shrink: 0;
object-fit: cover;
}
.menuitems{
display: flex;
}
.foodtitle{
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
border-bottom: solid black;
padding-bottom: .5em;
margin-left: 1em;
    .foodname{
    border-bottom: solid $fcol 3px;
    padding-bottom: .25em;
    margin-left: 1em;
        p{
        margin-left: 1em;
        border-bottom: solid black;
        margin-top: -.5em;
        padding-bottom: .5em;
        }
    }
}
.menutitle{
    text-align: start
}
.itemabout{
    flex-grow: 1;
}
.itemprice{
    margin-right: 1em;
        div{
            margin: 1em 0;
            }
        }
.itemline{
    display: flex;
    margin-right: 1em;
    margin-top: 1em;
    font-size: $fsmob
}
/* Snack labled items are for the navagation bars to the 
different menu sections */
.snackbar{
    display: inline-flex;
    margin: 1em 1em -1.5em 1em;
}
.snackimg{
    height: 1.5em;
}
.snacklink{
    margin: .5em;
    }
/* Choice grid is the grid for snack bar */
.choicegrid{
    margin: 0;
    padding: 0;
}





/* End Of menu */
/*Star of Contacts*/
.history, .aboutus{
    font-size: $fsmob;
    color: $bgcol;
    background-color: $tcol;
    }
/*Classes for the hours div's*/  
.hours{
    display: grid;
        .hoursinfo{
            box-shadow:  4px 10px $tcol;
            background-color: $tcol;
            color: $fcol;
            position: relative;
            left: 30vw;
            right: 10vw;
            width: 40vw;
            font-size: $fsmob;
            margin-bottom: 1em;
            text-align: center;
                .day, .holiday{
                    font-size: 25px;
                }
            }
        }
.hourshead{
    padding: 1em;                   
    }
        

.contactgrid{
    display: grid;
    margin: 0;
    padding: 0;
}
.contactdiv, .historyinfo{
    display: grid;
    background-color: $tcol;
    color: $fcol;
    text-align: start;
    font-size: $fsmob;
    padding: 1em;
    margin: 1em;
    box-shadow:  4px 10px $tcol;
}
.contactdiv{
    text-align: center;
    position: relative;
    left: 23vw;
    width: 40vw;
}
/*Class for the Header in the about us div*/
.infoheadclass{
    text-align: center;
}
/*Camp classes are for the campus img*/
.campdiv{
    display: grid;
    justify-content: center;
}
.campimg{
        display: flex;
        width: 300px;
        }
/*Hidden grid is for the grids displayed only at higher 
screen sizes*/
.hiddengrid{
    display: grid;
    position: relative;
    left: 5vw;
}
.hiddendiv{
    background-image: url(https://images.pexels.com/photos/1322184/pexels-photo-1322184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.hiddendiv2{
    background-image: url(https://images.pexels.com/photos/1449775/pexels-photo-1449775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.hiddendiv, .hiddendiv2{
    display: none;
    width: 90vw;
    height: 700px;
    box-shadow:  5px 5px $tcol;
    margin-right: -.5em;
}
/*Cons classes are for Contact Social Medias*/
.consgrid{
    display: grid;
}
.consdiv{
    display: grid;
    text-align: center;
    background-color: $tcol;
    font-family: $ffam;
    font-size: $fsmob;
    justify-content: center;
    color: $fcol;
    position: relative;
    left: 36vw;
    width: 20vw;
    margin-bottom: 1em;
    box-shadow:  5px 5px $tcol; 
    padding: 1em;
}
.socialicons{
    margin: 0;
    padding: 0;
    height: 5vh;
    position: relative;

}
.pizzaflex{
    margin-left: -1em;
}

/*Pizza flex classes are for the youtube video iframes*/
.pizzatube{
    width: 90vw;
    /* I know the height is set to width, I did it by accident 
    but keeping it this way allows for you to put the video 
    on near any size without borders or img squish
     */
    height: 50.78vw;
    position: relative;
    left: 5vw;
    margin: 1em;
    box-shadow:  5px 5px $tcol;
}
