@use "header";  
@use "media";
html{
    color: white;
    padding: 0;
    margin: 0;
}
main{

    display: grid;
    justify-content: center;
    align-content: center;
    color: black;
    background-color: #fcee25;
}

